<!----------------featured categories -------------------->
<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <img src="assets/images/Book 1.png" alt="Book 1" />
            </div>
            <div class="col-3">
                <img src="assets/images/Book 2.png" alt="Book 2" />
            </div>
            <div class="col-3">
                <img src="assets/images/Book 20.png" alt="Book 20" />
            </div>
        </div>
    </div>
</div>

<!----------------featured Books -------------------->
<div class="small-container">
    <h2 class="title">Featured Titles</h2>
    <div class="row">
        <div class="col-4">
            <a href="book-detail">
                <img src="assets/images/Book 26.png" alt="Book 26" /></a>
            <a>
                <h4>Virginia Witts</h4>
            </a>
        </div>
        <div class="col-4">
            <img src="assets/images/Book 5.png" alt="Book 5" />
            <h4>Profiles of Hero</h4>
        </div>
        <div class="col-4">
            <img src="assets/images/Book 6.png" alt="Book 6" />
            <h4>Frederick B. Philander</h4>
        </div>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>