<div class="broad">
    <section id="product1" class="section-p1">
        <h2>Literature Database</h2>
        <p>Books in this database</p>

        <div class="pro-container">
            <div class="pro">
                <img src="{{imageOne}}" alt="{{imageAlt}}">
                <div class="des">
                    <span>Dance Mama</span>
                    <p class="category">Drama</p>
                    <h5>a collection of poems</h5>
                </div>
            </div>
            <div class="pro">
                <img src="{{imageTwo}}" alt="{{imageAlt}}">
                <div class="des">
                    <span>SWAPO captive</span>
                    <p class="category">Drama</p>
                    <h5>a collection of poems</h5>
                </div>
            </div>
            <div class="pro">
                <img src="{{imageThree}}" alt="{{imageAlt}}">
                <div class="des">
                    <span>Taming my Elephant</span>
                    <p class="category">Drama</p>
                    <h5>a collection of poems</h5>
                </div>
            </div>
            <div class="pro">
                <img src="{{imageFour}}" alt="{{imageAlt}}">
                <div class="des">
                    <span>Escape Theory</span>
                    <p class="category">Drama</p>
                    <h5>a collection of poems</h5>
                </div>
            </div>
            <div class="pro">
                <img src="{{imageEight}}" alt="{{imageAlt}}">
                <div class="des">
                    <span>Legs, Bones & Eyes</span>
                    <p class="category">Drama</p>
                    <h5>a collection of poems</h5>
                </div>
            </div>
            <div class="pro">
                <img src="{{imageSix}}" alt="{{imageAlt}}">
                <div class="des">
                    <span>Born of the Sun</span>
                    <p class="category">Drama</p>
                    <h5>a collection of poems</h5>
                </div>
            </div>
            <div class="pro">
                <img src="{{imageSeven}}" alt="{{imageAlt}}">
                <div class="des">
                    <span>Bullies, beast & beauty</span>
                    <p class="category">Drama</p>
                    <h5>a collection of poems</h5>
                </div>
            </div>

        </div>
    </section>
</div>