<div class="container">
    <div class="row mt-3 mb-4">
        <div class="clo d-flex justify-content-center">
            <button type="button" class="btn btn-primary mx-1 text-dark">All</button>
            <button type="button" class="btn btn-primary mx-1 text-dark">New</button>
            <button type="button" class="btn btn-primary mx-1 text-dark">Category</button>
            <button type="button" class="btn btn-primary mx-1 text-dark">Publisher</button>
        </div>
    </div>
    <div class="row justify-content-center g-4" id="book-list">
        <div class="col-lg-4 col-md-6">
            <div class="book-item">
                <div class="book-img">
                    <img src="{{imageOne}}" alt="{{imageAlt}}"
                    class="img-fluid d-block mx-auto">
                </div>
                <div class="book-content text-center py-3">
                    <span class="d-block text-uppercase fw-bold">Dance Mama</span>
                    <span class="d-block">A collection of poems</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="book-item">
                <div class="book-img">
                    <img src="{{imageTwo}}" alt="{{imageAlt}}"
                    class="img-fluid d-block mx-auto">
                </div>
                <div class="book-content text-center py-3">
                    <span class="d-block text-uppercase fw-bold">Dance Mama</span>
                    <span class="d-block">A collection of poems</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="book-item">
                <div class="book-img">
                    <img src="{{imageThree}}" alt="{{imageAlt}}"
                    class="img-fluid d-block mx-auto">
                </div>
                <div class="book-content text-center py-3">
                    <span class="d-block text-uppercase fw-bold">Dance Mama</span>
                    <span class="d-block">A collection of poems</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="book-item">
                <div class="book-img">
                    <img src="{{imageFour}}" alt="{{imageAlt}}"
                    class="img-fluid d-block mx-auto">
                </div>
                <div class="book-content text-center py-3">
                    <span class="d-block text-uppercase fw-bold">Dance Mama</span>
                    <span class="d-block">A collection of poems</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="book-item">
                <div class="book-img">
                    <img src="{{imageFive}}" alt="{{imageAlt}}"
                    class="img-fluid d-block mx-auto">
                </div>
                <div class="book-content text-center py-3">
                    <span class="d-block text-uppercase fw-bold">Dance Mama</span>
                    <span class="d-block">A collection of poems</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="book-item">
                <div class="book-img">
                    <img src="{{imageSix}}" alt="{{imageAlt}}"
                    class="img-fluid d-block mx-auto">
                </div>
                <div class="book-content text-center py-3">
                    <span class="d-block text-uppercase fw-bold">Dance Mama</span>
                    <span class="d-block">A collection of poems</span>
                </div>
            </div>
        </div>
    </div>
</div>

