.fa {
    padding: 10px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }

  /* Add a hover effect if you want */
span{
    color: black;
}

.fa:hover {
    opacity: 0.5;
    color: rgb(99, 99, 99);
  }

  /* Facebook */
.fa-facebook {
    color: rgb(0, 0, 0);
  }

  /* Twitter */
.fa-twitter {
    color: rgb(0, 0, 0);
  }
  
  /*Instagram*/
.fa-instagram {
    color: rgb(10, 10, 10);
  }
  