# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/src/assets/back-end/db/DML/update
/src/assets/back-end/db/DML/call
/src/assets/back-end/db/DML/delete
/src/assets/back-end/db/DML/merge
/src/assets/back-end/db/DML/explain plan
/src/assets/back-end/db/DML/lock table
/src/assets/back-end/db/DDL/drop/*
/src/assets/back-end/db/DDL/rename/*
/src/assets/back-end/db/DDL/alter/*
/src/assets/back-end/db/DDL/truncate/*
/src/assets/back-end/db/DDL/comment/*
/src/assets/back-end/dummy DB/old/*

/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
src/index.html
src/assets/back-end/dummy DB/*
src/index.html.bak
