
<body>
    <section>
        <div class="container">
            <div class="contactInfo">
                <div>
                    <h2>Contact Info</h2>
                    <ul class="info">
                        <li>
                            <span><mat-icon> edit_location</mat-icon></span>
                            <span>2192 Meadwbrook Road <br>
                                Windhoek, Kh <br>
                                9000</span>
                               
                        </li>
                        <li>
                            <span><mat-icon>mail_outline</mat-icon></span>
                            <span>literaturecouncil@gmail.com</span>
                            <br>
                            <br>
                        </li>
                        <li>
                            <span><mat-icon>call</mat-icon></span>
                            <span>061-9990836</span>
                        </li>
                    </ul>
                    <ul class="sci">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                    </ul>
                </div>
            </div>
            <div class="contactForm">
                <h2>Send a Message</h2>
                <div class="FormBox">
                    <div class="inputBox w50">
                        <input type="text" name="" required>
                        <span>First Name</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" name="" required>
                        <span>Last Name</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" name="" required>
                        <span>Email Address</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" name="" required>
                        <span>Mobile Number</span>
                    </div>
                    <div class="inputBox w100">
                        <textarea name="" required></textarea>
                        <span>Write your Message here...</span>
                    </div>
                    <div class="inputBox w100">
                        <input type="submit" value="Send">
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>