<body>
    <section class="about"> 
        <div class="main">
            <img src="about-us/img/three.jpeg" alt="">
            <div class="about-text"> 
                <h2>About Us</h2>
                <h5><span>The Literature Council</span></h5>
                <p>The About Us page of your website is an essential source of 
                    information for all who want to know more about your business.
                    About Us pages are where you showcase your history, 
                    what is unique about your work, your company’s values, 
                    and who you serve. The design, written content, 
                    and visual or video elements together tell an 
                    important story about who you are and why you do it.</p>
                    <button type="button">Let's Talk</button>
            </div>
        </div>
        
            <div class="container">
                <div class="content-section"> 
                    <div class="content">
                    <h3>The Literature Council</h3>
                    <p>The About Us page of your website is an essential source of 
                        information for all who want to know more about your business.
                        About Us pages are where you showcase your history, 
                        what is unique about your work, your company’s values, 
                        and who you serve. The design, written content, 
                        and visual or video elements together tell an 
                        important story about who you are and why you do it.</p>
                        <button type="button">Read More</button>
                    </div>
                    
                </div>
                <div class="image-section"></div>
                    <img src="three.jpeg">
            </div>
      
    </section>
    
</body>