<body>
  <!--------------------------Books--------------------------------->
  <div class="small-container">
    <div class="row row-2">
      <h2>All Ebooks</h2>
      <select>
        <option>Default sorting</option>
        <option>Sort by name</option>
        <option>Sort by date added</option>
      </select>
    </div>

    <div class="row">
      <div class="col-4">
        <a href="book-detail">
          <img src="assets/images/Book 26.png" alt="Book 26" />
        </a>
        <a href="book-detail.html">
          <h4>Virginia Witts</h4>
        </a>
      </div>
      <div class="col-4">
        <img src="assets/images/Book 5.png" alt="Book 5" />
        <h4>Profiles of a Hero</h4>
      </div>
      <div class="col-4">
        <img src="assets/images/Book 25.png" alt="Book 25" />
        <h4>Marialena Van Tonder</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <img src="assets/images/Book 8.png" alt="Book 8" />
        <h4>Luna Ramphaga</h4>
      </div>
      <div class="col-4">
        <img src="assets/images/Book 9.png" alt="Book 9" />
        <h4>Patrick Haaskeen</h4>
      </div>
      <div class="col-4">
        <img src="assets/images/Book 23.png" alt="Book 10" />
        <h4>Erika Von Wietershein</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <img src="assets/images/Book 12.png" alt="Book 12" />
        <h4>Virginia Witts</h4>
      </div>
      <div class="col-4">
        <img src="assets/images/Book 13.png" alt="Book 13" />
        <h4>Oiva Angula</h4>
      </div>
      <div class="col-4">
        <img src="assets/images/Book 14.png" alt="Book 14" />
        <h4>Peter Ekandjo</h4>
      </div>
    </div>
  </div>
</body>