<body>

  <!-- ----------single product details------------- -->
  <div class="small-container single-product">
    <div class="row">
      <div class="col-2">
        <div class="border">
          <img src="assets/images/Book 27.png" alt="Book 27" width="70%" />
        </div>
      </div>
      <div class="col-2">
        <p>Home / Books</p>
        <h1>The Five Friends Forever by <h4>VIRGINIA WITTS</h4>
        </h1>
        <h3>Synopsis<i class="fa fa-indent"></i></h3>
        <p>
          Tulonga is 11 and the leader of the group. Her nine-year-
          old brother, Samuel, is always up to mischief. Uno, 10, is a
          bookworm who has her in the clouds most of the time. Ten-year-
          old Nico is Mr. Fix it. He is also kind and gentle, but sometimes
          he hides his softer side by being too macho. Nature-lover Kayla
          is nine but thinks she is already 11. She can't sit still and is a
          creative and extrovert.
        </p>
        <br>
        <!---------------Table Start --------------->
        <table>
          <tr>
            <th>Language</th>
            <th>ISBN Number</th>
            <th>Publisher</th>
            <th>Date Published</th>
          </tr>
          <tr>
            <td>English</td>
            <td>978-99945-69-64-9</td>
            <td>NACN</td>
            <td>20 June 2008</td>
          </tr>

        </table>


        <!---------------Table End --------------->
      </div>
    </div>
  </div>

  <!-- -------------title----------------- -->
  <div class="small-container">
    <div class="row row-2">
      <h2>Related Books</h2>
      <p>View More</p>
    </div>
  </div>
  <!-- --------------Product-------------- -->
  <div class="small-container">
    <div class="row">
      <div class="col-4">
        <img src="assets/images/Book 4.png" alt="Book 4" />
        <h4>Anna Karenina</h4>
      </div>
      <div class="col-4">
        <img src="assets/images/Book 5.png" alt="Book 5" />
        <h4>Watership Down</h4>
      </div>
      <div class="col-4">
        <img src="assets/images/Book 6.png" alt="Book 6" />
        <h4>All The Night We Cannot See</h4>
      </div>
    </div>
  </div>
</body>